# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Config file which contains credentials
config.cfg

# download dir
downloads/

# log dir
logs/

# Visual Studio Code config dir
.vscode/